@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#navbarOne {
    width: 100px;
    height: 100vh;
    background-color: #008080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

#tabcontent {
    width: calc(100vw - 100px);
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
}

/* NavbarOne */

#navBar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navBar button {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    align-items: center;
}

.navicon {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#navBar button:not(.active) {
    padding-top: 10px;
    height: 80px;
}

#navBar button.active {
    padding-top: 10px;
}

#navBar button.active div span.icon {
    background-color: #004d4d;
    padding: 10px;
    border-radius: 50%;
}

#navBar button span.icon img {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

#navBar button .text {
    margin-top: 5px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* UserAccount */

#userAccount button {
    width: 100px;
    height: 100px;
    border: none;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

#userAccount button img {
    width: 60px;
    height: 60px;
}

/* secondary screen */
#page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#navbarTwo {
    width: 300px;
    height: 100vh;
    background-color: #20B2AA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
}

#navbarTwo button {
    display: block;
    background: none;
    border: none;
    height: 40px;
    color: #FFF;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#navbarTwo button:hover{
    border: 5px solid #FFF;
    color: #FFF;
    font-weight: bold;
    background-color: #219390;
}

#navbarTwo button.active{
    background-color: #188f86;
    font-weight: 700;
    color: #FFF;
}

.contenthigh {
    width: calc(100vw - 400px);
    height: 100vh;
    padding-left: 400px;
}